{% extends "dashboard/base.html" %}
{% load static %}

{% block maincontent %}

<h1 class="page-header">Tablero de control</h1>

<div class="row placeholders">
    <div class="col-xs-6 placeholder">
        <h4>Agencias</h4>
        <div id="map"></div>
    </div>
    <div class="col-xs-6 placeholder">
        <h4>Top 5 planes vendidos</h4>
        <svg id='horBarChart'></svg>
    </div>
</div>

<div class="row placeholders">
    <div class="col-xs-6 placeholder">
        <h4>Equipos preferidos</h4>
        <svg id='myBarChart'></svg>
    </div>
    <div class="col-xs-6 placeholder">
        <h4>Estados de solicitudes</h4>
        <svg id='myPieChart'></svg>
    </div>
</div>

{% endblock %}

{% block scripts %}
<!-- gogle maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcki-py3oiDlOlE4WvEoJCvARHx8SDi-o &callback=InitMap&libraries=places"
async defer></script>
<script src="{% static "js/mapa.js" %}" type="text/javascript"></script>
<!-- D3js -->
<script src="{% static "d3/d3.js" %}" type="text/javascript"></script>
<script src="{% static "js/bartchart.js" %}" type="text/javascript"></script>
<script src="{% static "js/chart.js" %}" type="text/javascript"></script>
<script src="{% static "js/canvas.js" %}" type="text/javascript"></script>
{% endblock %}